* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #333;
  overflow: hidden;
}

.wallE {
  position: absolute;
  bottom: 0;
  left: -300px;
  /* left: 0px; */
  transition: 0.5s;
  padding-right: 200px;
  animation: move 2s linear infinite;
  user-select: none;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.wallE .chatBox {
  position: absolute;
  top: -50px;
  left: 100px;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}

.robot {
  position: absolute;
  bottom: -300px;
  /* bottom: 0; */
  right: 0;
  padding-left: 200px;
  transition: 0.5s;
  animation: animate 2s linear infinite;
  user-select: none;
}
@keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.robot .chatBox {
  position: absolute;
  top: -50px;
  right: 100px;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}
